<div class="form-inline">
<div id="revisions-one" class="col-sm-6">
    <label>Revision: </label>
    <select id="revisions" class="form-control input-sm" style="min-width: 50%; width:100%; text-overflow: ellipsis">
        <option value="">Select a revision</option>
        {% for revision in revisions %}
            {% if revision.sha == commit_sha %}
                <option value="{{ revision.sha }}" 
                selected>{{ forloop.counter }} - {{ revision.commit.message }}</option>
            {% else %}
                <option value="{{ revision.sha }}">
                {{ forloop.counter }} - {{ revision.commit.message }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<div id="revisions-two" class="col-sm-6">
    <label>Diff with: </label>
    <select id="revisions-diff" class="form-control input-sm" style="min-width: 50%; width:100%; text-overflow: ellipsis">
        <option value="">Select a revision</option>
        {% for revision in revisions %}
            <option value="{{ revision.sha }}">
            {{ forloop.counter }} - {{ revision.commit.message }}
            </option>
        {% endfor %}
    </select>
</div>
</div>
