<div class="form-inline">
                        <label>Chapter: </label>
                        <select id="chapters" class="form-control input-sm" style="text-overflow: ellipsis">
                            <option value="">Select Chapter</option>
                            {% for chapter in chapters %} {% if chapter_id == chapter.id %}
                            <option value="{{ chapter.id }}" selected>{{ chapter.number }} - {{ chapter.name }}</option>
                            {% else %}
                            <option value="{{ chapter.id }}">{{ chapter.number }} - {{ chapter.name }}</option>
                            {% endif %} {% endfor %}
                        </select>
<a href="#" class="extra-link side-links" id="download-chapter">Download Chapter</a>
</div>
