<div class="form-inline">
                    <label>Sub Category: </label>
                    <select id="categories" class="form-control input-sm" style="text-overflow: ellipsis">
                            <option value="0">Select Subcategory</option>
                            {% for category in subcatg %} {% if subcategory_id == category.subcategory_id %}
                            <option value="{{ category.subcategory_id }}" selected>{{ category.subcategory }}</option>
                            {% else %}
                            <option value="{{ category.subcategory_id }}">{{ category.subcategory }}</option>
                            {% endif %} {% endfor %}
                        </select>
                    <a id ="contributor" data-toggle="modal" data-target="#node-contributor" href="" class="extra-link side-links">+Contributor</a>
</div>
