

<!-- HTML for SEARCH BAR -->
<div id="search_wrapper" class="col-xs-12" style="text-align:center;">
 <div class="white-header>"
        <a class="close" href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">x</a>
    </div>
<form class="form-inline">
   <div class="form-group mb-2">
      <input id="search-input" type="search" class="form-control-plaintext" size="70" placeholder="Search Books"/>
      <a href="#" id="search" class="btn btn-info" role="button" data-toggle="tooltip" title="Search book!">Search</a>
</form>
<div class="col-xs-12">
<div id="relevant"  style="background-color:#aaa;word-wrap: break-word;overflow:auto;">
</div>
<div id="popular" style="background-color:#bbb;word-wrap: break-word;overflow:auto;">
</div>
<div id="recent"  style="background-color:#aaa;word-wrap: break-word;overflow:auto;">
</div>
</div><!-- /morphsearch-content -->
</div>


